:root {
  --yellow: #fdff00;
  --black: #000;
  --bord-r: 50%;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4)),
    url('./images/bg-1.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.oval {
  width: 230px;
  height: 130px;
  background-color: var(--yellow);
  border-radius: var(--bord-r);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

.logo {
  position: absolute;
}

.logo {
  width: 212px;
  height: 112px;
  background-color: var(--black);
  border-radius: var(--bord-r);

}

