:root {
  --yellow: #fdff00;
  --black: #000;
  --bord-r: 50%;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4)),
    url('./images/bg-1.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.oval {
  width: 230px;
  height: 130px;
  background-color: var(--yellow);
  border-radius: var(--bord-r);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo, .oval-1, .oval-2, .oval-3, .oval-4, .oval-5 , .oval-6,
.square-1, .square-2, .ears {
  position: absolute;
}

.logo {
  width: 212px;
  height: 112px;
  background-color: var(--black);
  border-radius: var(--bord-r);
}

.oval-1, .oval-2, .oval-3, .oval-4 {
  background-color: var(--yellow);
  height: 70px;
  border-radius: var(--bord-r);
}

.oval-1, .oval-2 {
  width: 33px;
  top: 67px;
}

.oval-1 {
  left: 44px;
  transform: rotate(-41deg);
}

.oval-2 {
  right: 44px;
  transform: rotate(41deg);
}

.oval-3, .oval-4 {
  width: 38px;
  top: 73px
}

.oval-3 {
  left: 68px;
  transform: rotate(-15%);
}

.oval-4 {
  right: 68px;
  transform: rotate(15%);
}
